@charset 'UTF-8';

/* ============================================================================
   BRADLEY RODGERS STYLESHEET
   ========================================================================= */

 ::selection {
 	color: #FFFFFF;
 	background: #FF8F9C;
 }

/**
 * Base.
 */

@import 'library/rem';

@import 'library/settings';

@import 'library/grid';

/**
 * Styles.
 */

 $primary-color: #424D5E;

 body {
 	background-color: red;
 }

 img {
 	width: 100%;
 	height: auto;
 }

 .wf-loading {
 	display: none;
}

.l-container {
	animation: fadein 2s;
    display: block;
    margin: 0 auto;
    max-width: rem(1266);
    min-width: rem(320);
    padding: rem($g-spacing-4x-large) rem($g-spacing-3x-large);
    width: 100%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.title-name {
	left: 0;	
	margin: auto;
	position: fixed;
	text-align: center;
	width: 100%;
}

.name {
	color: $primary-color;
	font-family: "franklin-gothic-urw",sans-serif;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
	padding-bottom: rem($g-spacing-4x-large);
}

.headline {
	color: $primary-color;
	font-family: "freight-display-pro",serif;
	font-size: 120px;
	font-weight: 900;
	line-height: 1;
	margin-top: rem($g-spacing-5x-large);

}

.img-1  {
	margin-top: -(rem(290));
	position: relative;
	z-index: -1;
}